.example-form {
  min-width: 150px;
  max-width: 400px;
  width: 100%;
}

.example-full-width {
  width: 100%;
  margin: 10px;
}

#left {
  width: 40%;
  position: absolute
}

#right {
  width: 40%;
  position: absolute;
  left: 55%;

}

.clear {
  margin-bottom: -5px
}

.examples {
  top: 7%;
}
