.example-form {
  min-width: 150px;
  max-width: 400px;
  width: 100%;
}

.example-full-width {
  width: 100%;
  margin: 10px;
}


#right {
  left: 260px;
}

.clear {
  margin-bottom: -5px
}

.examples {
  position: absolute;
  width: 200px;
  top: 25px
}
