.scene-inputs .scene-input-clear {
  margin-bottom: -10px
}

.scene-inputs {
  width: 220px;
  transform: scale(0.7);

  .mat-form-field-appearance-outline .mat-form-field-outline-thick {
    opacity: 0.5;
  }
}

app-input-scene {
  display: flex;
}

mat-form-field {
  width: 100%;
}
