<div class="examples" id="left">
  <mat-form-field class="example-full-width clear">
    <mat-label>Clearable input</mat-label>
    <input matInput type="text" [(ngModel)]="value">
    <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Input</mat-label>
    <input matInput #message maxlength="256" placeholder="Ex. I need help with...">
    <mat-hint align="start"><strong>Prompt</strong> </mat-hint>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Input</mat-label>
    <input matInput #message maxlength="256" placeholder="Ex. I need help with...">
    <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
  </mat-form-field>
</div>

<div class="examples" id="right">
  <mat-form-field class="example-full-width clear">
    <mat-label>Clearable input</mat-label>
    <input matInput type="text" [(ngModel)]="value">
    <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Input</mat-label>
    <input matInput #message maxlength="256" placeholder="Ex. I need help with...">
    <mat-hint align="start"><strong>Prompt</strong> </mat-hint>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Input</mat-label>
    <input matInput #message maxlength="256" placeholder="Ex. I need help with...">
    <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
  </mat-form-field>
</div>
