:host {
  display: block;
}

.docs-example-viewer-wrapper {
  h3 {
    margin-top: 10px;
  }
  box-shadow: none;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 4px;
}

.docs-example-viewer-title {
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 8px 20px;
}

.docs-example-viewer-title-spacer {
  flex: 1 1 auto;
}

.docs-example-viewer-body {
  padding: 30px;
}

.button-bar {
  float: right;
}

code-snippet {
  background: rgba(0, 0, 0, 0.01)
}

.docs-example-source {
  margin: 0;
  border: none;
  background: none;
}

.docs-example-source-copy {
  right: 0;
  color: rgba(0, 0, 0, .6);
}

.docs-example-compact-toggle {
  color: rgba(0, 0, 0, .6);
}

