<div class="docs-example-viewer-wrapper">
  <div class="docs-example-viewer-title" *ngIf="view !== 'compact'">
    <div class="docs-example-viewer-title-spacer">{{exampleData?.title}}</div>

    <button mat-icon-button type="button" (click)="toggleSourceView()"
            [matTooltip]="'View ' + exampleData?.title + ' source'" aria-label="View source">
      <mat-icon>code</mat-icon>
    </button>

    <stack-blitz-button [example]="example"></stack-blitz-button>
  </div>

  <div class="docs-example-viewer-source" *ngIf="view === 'full'">
    <mat-tab-group>
      <mat-tab *ngFor="let tabName of _getExampleTabNames()" [label]="tabName">
        <example-code-viewer (toggleCompactViewEvent)="toggleCompactView()" (copySourceEvent)="copySource($event)"
                             [exampleTabs]="exampleTabs" [fileName]="tabName" [compactView]="false"
                             [showCompactToggle]="showCompactToggle">
        </example-code-viewer>
      </mat-tab>
    </mat-tab-group>
  </div>

  <div class="docs-example-viewer-source-compact" *ngIf="view === 'compact' && showCompactToggle">
    <example-code-viewer (toggleCompactViewEvent)="toggleCompactView()" [exampleTabs]="exampleTabs"
                         [fileName]="file" [compactView]="true" [lines]="lines" [showCompactToggle]="true">
    </example-code-viewer>
  </div>
  <div class="docs-example-viewer-body">
    <ng-template *ngIf="_exampleComponentType && _exampleModuleFactory"
                 [ngComponentOutlet]="_exampleComponentType"
                 [ngComponentOutletNgModuleFactory]="_exampleModuleFactory"></ng-template>
  </div>
</div>
