<div class="docs-example-viewer-wrapper">
  <div class="docs-example-viewer-title" *ngIf="view !== 'compact'">
    <div class="docs-example-viewer-title-spacer">{{exampleData?.title}}</div>

    <button mat-icon-button type="button" (click)="toggleSourceView()"
            [matTooltip]="'View ' + exampleData?.title + ' source'" aria-label="View source">
      <mat-icon>code</mat-icon>
    </button>

    <stack-blitz-button [example]="example"></stack-blitz-button>
  </div>

  <div class="docs-example-viewer-source" *ngIf="view === 'full'">
    <mat-tab-group>
      <mat-tab *ngFor="let tabName of _getExampleTabNames()" [label]="tabName">
        <div class="button-bar">
          <button mat-icon-button type="button" (click)="toggleCompactView()"
                  class="docs-example-compact-toggle" [matTooltip]="'Compact view'"
                  aria-label="View less" *ngIf="showCompactToggle">
            <mat-icon>unfold_less</mat-icon>
          </button>
          <button mat-icon-button type="button" (click)="copySource(this.snippet.viewer.textContent)"
                  class="docs-example-source-copy" [matTooltip]="'Copy example source'"
                  title="Copy example source" aria-label="Copy example source to clipboard">
            <mat-icon>content_copy</mat-icon>
          </button>
        </div>
        <code-snippet #snippet [source]="exampleTabs[tabName]"></code-snippet>
      </mat-tab>
    </mat-tab-group>
  </div>

  <div class="docs-example-viewer-source-compact" *ngIf="view === 'compact'">
    <div class="button-bar">
      <button mat-icon-button type="button" (click)="toggleCompactView()"
              class="docs-example-compact-toggle" [matTooltip]="'View full source code'"
              aria-label="View less">
        <mat-icon>unfold_more</mat-icon>
      </button>
      <button mat-icon-button type="button" (click)="copySource(this.snippet.viewer.textContent)"
              class="docs-example-source-copy" [matTooltip]="'Copy example source'"
              title="Copy example source" aria-label="Copy example source to clipboard">
        <mat-icon>content_copy</mat-icon>
      </button>
    </div>
    <code-snippet #snippet [source]="exampleTabs[file]" [lines]="lines" *ngIf="file !== 'demo'"></code-snippet>
  </div>

  <div class="docs-example-viewer-body" *ngIf="view !== 'compact' || file === 'demo'">
    <ng-template *ngIf="_exampleComponentType && _exampleModuleFactory"
                 [ngComponentOutlet]="_exampleComponentType"
                 [ngComponentOutletNgModuleFactory]="_exampleModuleFactory"></ng-template>
  </div>
</div>
