.buttons {
  position: relative;
  width: 50px;
  top: 20px;
}

button {
  margin: 15px !important;
  width: 100px;
  height: 50px;
}

#left {
  position: absolute;
  left: 80px;
}

#right {
  position: absolute;
  left: 260px;
}

.mat-button-wrapper {
  font-size: 15px;
}

.mat-raised-button[disabled][disabled] {
  color: rgba(red, 0.45);
}

.mat-button[disabled][disabled] {
  color: rgba(red, 0.45);
}

.mat-stroked-button[disabled][disabled] {
  color: rgba(red, 0.45);
}


