.buttons {
  position: relative;
  width: 50px;
  top: 20px;
}

div.buttons button {
  margin: 15px;
  width: 100px;
  height: 50px;
}

#left {
  position: absolute;
  left: 80px;
}

#right {
  position: absolute;
  left: 260px;
}

.mat-button-wrapper {
  font-size: 15px;
}
