@use '@angular/material' as mat;
@use '../../highlightjs/material-dark';

$theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$magenta-palette,
    tertiary: mat.$violet-palette,
  )
));

@include mat.color-variants-backwards-compatibility($theme);

:root {
  @include mat.system-level-colors($theme);
  @include mat.all-component-themes($theme);
}
