@import '../../node_modules/@angular/material/theming';

$extra-small-breakpoint-width: 720px;
$small-breakpoint-width: 959px;

/* For desktop, the content should be aligned with the page title. */
$content-padding-side: 70px;
$content-padding-side-xs: 15px;
