.scene-radio-group {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.scene-radio-button {
  margin: 5px;
}

.scene-radio-title {
  text-align: center;
}

.scene-radio-icon {
  font-size: 45px;
  color: rgba(red, 0.6);
}
