.scene-checkboxes {
  width: 100px;
  position: absolute;
  top: 30px;
}

.scene-checkboxes-right {
  left: 290px;
}

.scene-checkboxes-left {
  left: 60px;
}

div.scene-checkboxes .mat-checkbox-inner-container {
  height: 40px;
  width: 40px;
  margin-top: 25px;
}

.mat-checkbox-label {
  margin-top: 32px;
  font-size: 20px;
}
