.boxes {
  width: 100px;
  position: absolute;
  top: 30px;
}

#right {
  left: 290px;
}

#left {
  left: 60px;
}

.mat-checkbox-inner-container {
  height: 40px!important;
  width: 40px!important;
  margin-top: 25px !important;
}

.mat-checkbox-label {
  margin-top: 32px;
  font-size: 20px;
}
