// The margin between two sections
$margin-promotion-sections: 50px;
$margin-promotion-sections-small: 15px;

.docs-header-background {
  overflow: hidden;
  position: relative;
}

.docs-header-background::before {
  content: " ";
  position: absolute;
  background-image: url("../../../assets/img/homepage/angular-white-transparent.svg");
  background-size: 30% auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: 65% 5%;
  opacity: 0.2;
}

.docs-header-section {
  position: relative;
  z-index: 0;
  text-align: center;
  padding-top: $margin-promotion-sections;
}

.docs-header-headline {
  h1 {
    font-size: 56px;
    font-weight: bold;
    line-height: 56px;
    margin: 15px 5px;
  }

  h2 {
    font-size: 20px;
    font-weight: 300;
    line-height: 28px;
    margin: 15px 0 25px 0;
  }
}

.docs-homepage-promo {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 16px;

  a {
    text-decoration: none;
  }

  a.docs-link {
    width: 100%;
    text-align: right;
  }

  h2 {
    font-size: 25px;
    font-weight: 400;
    margin: 16px 0;
    padding: 0;
  }

  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin: 0 0 24px 0;
    padding: 0;
  }

  mat-divider {
    width: 75%;
  }

  mat-icon {
    vertical-align: middle;
  }
}

.docs-homepage-row {
  width: 75%;
  display: flex;
  flex-direction: row;
  margin: $margin-promotion-sections 0;
}

.docs-homepage-carousel {
  text-align: right;
  padding-top: $margin-promotion-sections;
  width: 75%;

  .docs-mat-card-divider {
    width: 30%;
    height: 5px;
    margin: 15px auto;
  }

  .docs-carousel-item {
    transition: transform 0.5s ease-in-out;
    padding: 10px;
    display: flex;
    text-decoration: none;
  }

  .docs-guides-card.mat-card {
    text-align: center;
  }

  .docs-homepage-carousel-card-title.mat-card-title {
    font-size: 20px;
  }
}


.docs-featured-components {
  flex-wrap: wrap;

  h1 {
    font-size: 25px;
    margin-top: 0;
    margin-bottom: $margin-promotion-sections;
    width: 100%;
    flex: 0 0 100%;
  }

  .docs-component {
    width: 30%;
    margin: 0 auto;
    text-align: center;
  }

  img {
    max-width: 100%;
  }
}

.docs-homepage-row-column {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 30%;
}

.docs-header-start,
.docs-homepage-bottom-start {
  text-align: center;
  margin: $margin-promotion-sections 0;

  .mat-raised-button {
    font-size: 15px;
  }
}


/**
  * Rules for when the device is detected to be a small screen.
  */
@media (max-width: 720px) {
  .docs-header-section {
    padding-top: $margin-promotion-sections-small;
  }

  .docs-header-start,
  .docs-homepage-bottom-start {
    margin: $margin-promotion-sections-small 0;
  }

  .docs-homepage-row {
    margin: $margin-promotion-sections-small 0;
  }

  .docs-introduction {
    flex-direction: column;
  }

  .docs-homepage-row-column {
    width: 100%;
  }

  .docs-top-components h1 {
    margin-bottom: $margin-promotion-sections-small;
  }

  .docs-homepage-carousel {
    padding-top: $margin-promotion-sections-small;
  }
}
