.docs-navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px 16px;

  > .mat-button {
    &:last-child {
      margin-left: auto;
    }
  }
}

.docs-angular-logo /deep/ svg {
  height: 26px;
  margin: 0 4px 3px 0;
  vertical-align: middle;
}

.docs-github-logo /deep/ svg {
  height: 21px;
  margin: 0 7px 2px 0;
  vertical-align: middle;
}

.flex-spacer {
  flex-grow: 1;
}
