@import '~@angular/material/theming';
@import '../../../styles/constants';

@mixin horizontal-carousel-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .docs-mat-card-divider {
      background: mat-color($accent);
  }

}
