:host {
  position: relative;
  display: flex;
  align-items: center;
}

.docs-carousel {
  display: flex;
  flex-direction: row;
}

.docs-carousel-nav {
  position: absolute;
}

.docs-carousel-nav-prev {
  left: -40px;
}

.docs-carousel-nav-next {
  right: -40px;
}

.docs-carousel-wrapper {
  display: flex;
  width: 100%;
  overflow: hidden;
}
