app-horizontal-carousel {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.docs-carousel {
  display: flex;
  flex-direction: row;
  //overflow: hidden;
}

.docs-carousel-nav {
  position: absolute;
}

.docs-carousel-nav-prev {
  left: -10px;
}

.docs-carousel-nav-next {
  right: -10px;
}

.docs-carousel-wrapper {
  //display: flex;
  //width: inherit;
  width: 100%;
  //overflow: hidden;
}
