@import '../../../styles/constants';

app-component-viewer {
  font-weight: 400;
  margin: 20px 70px 50px 70px;
}

.docs-component-viewer-section-tab {
  text-transform: uppercase;
}

.docs-component-viewer-tabbed-content {
  margin-bottom: 50px;
}

.docs-component-viewer-content {
  position: relative;
  min-height: 500px;

  table-of-contents {
    display: inline-flex;
    top: 35px;

    @media (max-width: $small-breakpoint-width) {
      display: none;
    }
  }
}

.docs-component-view-text-content {
  display: inline-flex;
  flex-grow: 1;
}

.component-overview {
  width: 80%;
  margin-right: 20px;

  @media (max-width: $small-breakpoint-width) {
    width: 100%;
    margin-right: 0;
  }
}

.docs-example-source {
  padding: 0 0 10px 30px;
  min-height: 150px;
}
