@import '../../../styles/constants';

.docs-component-category-list {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $small-breakpoint-width) {
    justify-content: center;
  }
}

.docs-component-category-list-card {
  display: inline-block;
  width: 260px;
  margin: 20px;
  vertical-align: top;
  cursor: pointer;

  .mat-card-title {
    font-size: 20px;
  }
}

:host /deep/ .docs-component-category-list-card-image svg {
  width: 100% !important;
  height: 100% !important;
}

.docs-component-category-list-card-summary {
  height: 2.4em;
}

.docs-component-category-list-header {
  padding-left: 20px;
  display: flex;
  align-items: center;

  h1 {
    font-size: 30px;
    font-weight: 300;
    margin: 0;
    padding: 50px;
  }
}
