@import '../../../styles/constants';

.docs-component-category-list-summary {
  padding: 25px 40px 0;
  font-size: 18px;
  line-height: 1.5;
  display: flex;
  justify-content: center;
}

.docs-component-category-list {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.docs-component-scene {
  max-width: 100%;
}

.docs-component-category-list-item {
  display: inline-block;
  margin: 20px;
  vertical-align: top;
  width: 360px;

  .docs-component-category-list-card-title {
    align-items: center;
    display: flex;
    padding: 15px;
    font-size: 20px;
    font-weight: 500;
  }

  &, &:active, &:hover, &:focus {
    text-decoration: none;
  }
}

.docs-component-category-list-card-summary {
  padding: 0 15px 15px 15px;
  min-height: 2.4em;
  font-size: 15px;
}


@media (max-width: 1840px) {
  .docs-component-category-list-summary {
    max-width: 1600px;
  }
}

@media (max-width: 1480px) {
  .docs-component-category-list-summary {
    max-width: 760px;
  }
}

@media (max-width: 839px) {
  .docs-component-category-list-summary {
    max-width: 360px;
  }
}

@media (max-width: 720px) {
  .docs-component-category-list-item {
    width: 300px;
  }

  .docs-component-category-list-summary {
    max-width: 300px;
  }
}

