<div class="docs-components-header-bar">Components</div>
<div class="docs-components-component-list">
  <div class="docs-components-view">
    <md-slide-toggle [(ngModel)]="gridMode" color="primary" class="docs-components-grid-fab">
      {{viewMode}}
    </md-slide-toggle>
    <div class="docs-components-list" *ngIf="gridMode">
      <div *ngFor="let group of componentGroups" class="docs-components-group">
        <h2>{{group.name}}</h2>
        <md-grid-list color="primary" cols="5">
          <md-grid-tile *ngFor="let component of group.list" [routerLink]="component.routerLink" >
            <div class="docs-component-chip">
              <div class="docs-component-img"><img [src]="component.imageSrc"/></div>
              <div class="docs-component-name">{{component.name}}</div>
            </div>
          </md-grid-tile>
        </md-grid-list>
      </div>
    </div>
    <md-card class="docs-components-list" *ngIf="!gridMode">
      <md-list *ngFor="let group of componentGroups">
        <h2 md-subheader>{{group.name}}</h2>
        <md-list-item *ngFor="let component of group.list" [routerLink]="component.routerLink">
          <img md-list-avatar [src]="component.imageSrc"/>
          <div md-line>{{component.name}}</div>
        </md-list-item>
      </md-list>
    </md-card>
  </div>
</div>
