:host {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.docs-carousel-content {
  display: flex;
  flex-direction: row;
}

.docs-carousel-content-wrapper {
  display: flex;
  overflow: hidden;
}
