@mixin footer-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  app-footer {
    footer ul {
      a {
        color: md-color($primary, default-contrast);
      }
    }
  }
}
