@mixin table-of-contents-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .toc-container {
    border-left: solid 4px mat-color($primary);
  }

  a {
    color: mat-color($foreground, secondary-text);

    &:hover,
    &.active {
      color: mat-color($primary);
    }
  }
}
