:host {
  font-size: 13px;
  width: 15%;
  position: sticky;
  top: 0;
}

.toc-container {
  padding: 5px 0 10px 12px;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-weight: bold;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  line-height: 16px;
  margin: 8px 0 0;
  position: relative;
}

a {
  text-decoration: none;
}

.li-h4 {
  margin-left: 12px;
}
